/* Tsz Chin Wong n01604038 wireframe1 */
#wrapper {
    padding:0;
    margin:0;
}
header {
    background-image: url("../images/banner.png"); /*https://creator.nightcafe.studio/studio?open=creation&panelContext=%28jobId%3A2bFBbyBzz2k8m6Olm29K%29*/
    background-size: cover;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#navbar {
    font-size: larger;
    text-align: center;
    color: #006d77;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    border-bottom: black solid 1px;
    background-color: #DAFFFB;
}

#navbar a {
    display: inline-block;
    padding-bottom: 2px;
    padding: 0 10px;
    text-decoration: none;
}

#navbar > a:hover {
    color: #006d77;
}

#newR {
    margin: 10px 20px 40px 20px;
    display: flex;
    
}

#welcome {
    margin: 25px;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    color: #cff1ff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #006d77;
    letter-spacing: 0.5px;
    margin: 20px 20px 0px 30px;
}

#logo {
    float: left;
    padding-right: 10px;
}

#shortdesc {
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    overflow: auto;
}

.newrelease {
    width: 32%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    float: left;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px #09859078;
}


#event {
    clear: left;
    margin: 0px 20px;
    display: flex;

}

#event section {
    width: 47%;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    float: left;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px #09859078;
}


footer {
    clear: left;
    background-color: #006d77;
    color: #cff1ff;
}

#footer {
    clear: left;
    text-align: center;
    color: #cff1ff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 3px;
    text-decoration: none;
}

#footer a {
    display: inline-block;
    padding-bottom: 2px;
    padding: 0 10px;
    text-decoration: none;
}

#footer > a:hover {
    color: #cff1ff;
}

.store{
    width: 45%;
    margin: 10px;
    padding: 10px;
    float: left;
    box-sizing: border-box;
}

#copyright {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    padding-bottom: 10px;
}